version: '3'
services:
  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DATABASE_NAME}
      MYSQL_USER: ${DATABASE_USER}
      MYSQL_PASSWORD: ${DATABASE_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    command: --default-time-zone='-05:00'

  nestjs:
    build: .
    image: elena-chat-app
    env_file: .env
    environment:
      - TZ=${TZ}  # Zona horaria
    ports:
      - "3000:3000"
    depends_on:
      - mysql

volumes:
  mysql-data:
