<!DOCTYPE html>
<html lang="es">
{% include "principales/head.html" %}

<body>
    <div class="container-scroller">
        {% include "principales/nav.html" %}
        <div class="container-fluid page-body-wrapper">
            {% include "principales/header.html" %}
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-3 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <form class="d-flex flex-row justify-content-between w-100" action="#">
                                        <input class="form-control" type="search" placeholder="Buscar personas"
                                            aria-label="Search">
                                    </form>
                                    <div class="list-group mt-3" id="busquedaUsuarios">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body" id="divInfoUsuario">
                                    
                                </div>
                            </div>
                        </div>  
                        
                        <div class="col-md-4 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-row justify-content-between">
                                        <h4 class="card-title mb-1">Informacion relevante</h4>
                                    </div>
                                    <div class="row" id="divInfoUsuario2">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <!-- <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2024 <a href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. All rights reserved.</span>
                    <span class="text-muted float-none float-sm-end d-block mt-1 mt-sm-0 text-center"> <span class="text-muted float-none float-sm-end d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span> <i class="mdi mdi-heart text-danger"></i></span>
                  </div> -->
                </footer>
                <!-- partial -->
            </div>
        </div>
    </div>
    <!-- plugins:js -->
</body>

{% include "principales/scripts.html" %}
<script src="/js/modulos/buscarAmigos.js"></script>

</html>