<!DOCTYPE html>
<html lang="es">
{% include "principales/head.html" %}

<body>
    <div class="container-scroller">
        {% include "principales/nav.html" %}
        <div class="container-fluid page-body-wrapper">
            {% include "principales/header.html" %}
            <div class="main-panel">
                <div class="content-wrapper">

                    <div class="row">
                        <div class="col-md-4 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-9">
                                            <h4 class="card-title">Mis datos</h4>
                                        </div>
                                        <div class="col-3 d-flex justify-content-end row">
                                            <div class="col-12 text-center" id="estadoUsuario">
                                                
                                            </div>
                                            <div class="col-12 text-center">    
                                                <div class="form-switch">  
                                                    <input class="form-check-input" type="checkbox" id="cambiarEstadoConectado" checked>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="position-relative">
                                        <div class="daoughnutchart-wrapper" id="perfilUsuario">
                                            
                                        </div>

                                        <div class="row mt-3 mb-3 col-md-12 d-flex justify-content-center">
                                            <div class="col-md-6">
                                                <h6 class="mb-1" id="nombresUsuario">John Doe</h6>
                                            </div>
                                            <div class="col-md-6 d-flex justify-content-end">
                                                <p class="text-muted mb-0" id="emailUsuario">johndoe@example.com</p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Subir imagen</label>
                                            <!-- Solo permitir archivos de imagen -->
                                            <input type="file" name="img[]" class="file-upload-default" accept="image/*">
                                            <div class="input-group col-xs-12 d-flex align-items-center">
                                                <input type="text" class="form-control file-upload-info" disabled
                                                    placeholder="Seleccione una imagen">
                                                <span class="input-group-append ms-2">
                                                    <button class="file-upload-browse btn btn-primary"
                                                        type="button">Elegir imagen</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Cambiar nombre</label>
                                        <!-- Solo permitir archivos de imagen -->
                                        <div class="input-group col-xs-12 d-flex align-items-center">
                                            <input type="text" class="form-control" id="updateNombres"
                                                placeholder="Cambiar nombre">
                                            <span class="input-group-append ms-2">
                                                <button class="btn btn-primary"
                                                    type="button" onclick="updateDatosUsuario()">Actualizar</button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Cambiar apellidos</label>
                                        <!-- Solo permitir archivos de imagen -->
                                        <div class="input-group col-xs-12 d-flex align-items-center">
                                            <input type="text" class="form-control" id="updateApellidos"
                                                placeholder="Cambiar apellidos">
                                            <span class="input-group-append ms-2">
                                                <button class="btn btn-primary"
                                                    type="button" onclick="updateDatosUsuario()">Actualizar</button>
                                            </span>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-row justify-content-between">
                                        <h4 class="card-title mb-1">Amigos</h4>
                                        <p class="text-muted mb-1">5 amigos</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="preview-list">
                                                <div class="preview-item border-bottom">
                                                    <div class="preview-thumbnail">
                                                        <div class="preview-icon bg-primary">
                                                            <i class="mdi mdi-file-document"></i>
                                                        </div>
                                                    </div>
                                                    <div class="preview-item-content d-sm-flex flex-grow">
                                                        <div class="flex-grow">
                                                            <h6 class="preview-subject">Nombre de amigo</h6>
                                                            <p class="text-muted mb-0">Estado</p>
                                                        </div>
                                                        <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                                                            <button class="btn btn-danger btn-icon"><i class="mdi mdi-trash-can"></i></button>
                                                            <button class="btn btn-primary btn-icon"><i class="mdi mdi-message"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <h5>Ultimos mensajes</h5>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="preview-list">
                                                <div class="preview-item border-bottom">
                                                    <div class="preview-thumbnail">
                                                        <div class="preview-icon bg-primary">
                                                            <i class="mdi mdi-file-document"></i>
                                                        </div>
                                                    </div>
                                                    <div class="preview-item-content d-sm-flex flex-grow">
                                                        <div class="flex-grow">
                                                            <h6 class="preview-subject">Nombre de amigo</h6>
                                                            <p class="text-muted mb-0">Estado</p>
                                                        </div>
                                                        <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                                                            <button class="btn btn-danger btn-icon"><i class="mdi mdi-trash-can"></i></button>
                                                            <button class="btn btn-primary btn-icon"><i class="mdi mdi-message"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <h5>Bloqueos</h5>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="preview-list">
                                                <div class="preview-item border-bottom">
                                                    <div class="preview-thumbnail">
                                                        <div class="preview-icon bg-primary">
                                                            <i class="mdi mdi-file-document"></i>
                                                        </div>
                                                    </div>
                                                    <div class="preview-item-content d-sm-flex flex-grow">
                                                        <div class="flex-grow">
                                                            <h6 class="preview-subject">Nombre de amigo</h6>
                                                        </div>
                                                        <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                                                            <button class="btn btn-success btn-icon"><i class="mdi mdi-account-lock-open"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2024 <a
                                href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. All rights
                            reserved.</span>
                        <span class="text-muted float-none float-sm-end d-block mt-1 mt-sm-0 text-center"> <span
                                class="text-muted float-none float-sm-end d-block mt-1 mt-sm-0 text-center">Hand-crafted
                                & made with <i class="mdi mdi-heart text-danger"></i></span> <i
                                class="mdi mdi-heart text-danger"></i></span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
        </div>
    </div>

    <!-- Modal -->
    
    <!-- plugins:js -->
</body>
<script src="/js/modulos/principio.js"></script>

{% include "principales/scripts.html" %}

</html>