<!DOCTYPE html>
<html lang="es">
{% include "principales/head.html" %}

<body>
    <div class="container-scroller">
        {% include "principales/nav.html" %}
        <div class="container-fluid page-body-wrapper">
            {% include "principales/header.html" %}
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-4 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-9">
                                            <h4 class="card-title" data-id-usuario="{{ idUsuario }}" id="txtDatosUsuarioOcultos">Datos del usuario</h4>
                                        </div>
                                        <div class="col-3 d-flex justify-content-end row">
                                            <div class="col-12 text-center" id="estadoUsuarioPerfil">
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="position-relative">
                                        <div class="daoughnutchart-wrapper" id="perfilUsuarioDatos">
                                        </div>
                                        <div class="row mb-3 col-md-12 d-flex justify-content-center" id="datosUsuarioPerfil">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-row justify-content-between">
                                        <h4 class="card-title mb-1">Amigos todos</h4>
                                        <p class="text-muted mb-1" id="textCantidadAmigosPerfil">0 amigos</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="preview-list" id="divListaAmigosPerfil">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2024 <a
                                href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. All rights
                            reserved.</span>
                        <span class="text-muted float-none float-sm-end d-block mt-1 mt-sm-0 text-center"> <span
                                class="text-muted float-none float-sm-end d-block mt-1 mt-sm-0 text-center">Hand-crafted
                                & made with <i class="mdi mdi-heart text-danger"></i></span> <i
                                class="mdi mdi-heart text-danger"></i></span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
        </div>
    </div>
</body>

{% include "principales/scripts.html" %}

<script src="/js/modulos/perfilUsuario.js"></script>

</html>